body{
    font-family: 'Segoe', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background: url('https://images.unsplash.com/photo-1663970206579-c157cba7edda?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDI2fHx8ZW58MHx8fHx8')no-repeat center center fixed;
    background-size: cover;
    color: black;
    margin: 0;
    padding: 20px;

}

canvas{
    background-color: rgb(56, 150, 150);
    display: block; 
    margin: 20px auto;
    border: 2px solid white;
    
}
